In [15]:
!pip install text2num

Requirement already satisfied: text2num in c:\users\siham\appdata\local\programs\python\python39\lib\site-packages (2.5.0)

WARNING: You are using pip version 20.2.3; however, version 24.0 is available.
You should consider upgrading via the 'c:\users\siham\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [16]:
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
import pandas as pd 
import numpy as np
from sklearn.linear_model import LinearRegression
from text_to_num import text2num

In [20]:
df = pd.read_csv(".\dataset\hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [21]:
df["experience"] = df["experience"].fillna("zero")
df["test_score(out of 10)"] = df["test_score(out of 10)"].fillna(0)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    0.0                           7      72000
7     eleven                    7.0                           8      80000

In [23]:
df["experience"]=df["experience"].apply(lambda x: text2num(x,"en"))

In [27]:
Y = df["salary($)"]
Y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [28]:
X = df[["experience","test_score(out of 10)","interview_score(out of 10)"]]
X

   experience  test_score(out of 10)  interview_score(out of 10)
0           0                    8.0                           9
1           0                    8.0                           6
2           5                    6.0                           7
3           2                   10.0                          10
4           7                    9.0                           6
5           3                    7.0                          10
6          10                    0.0                           7
7          11                    7.0                           8

In [29]:
model = LinearRegression()
model.fit(X,Y)

LinearRegression()

In [30]:
model.intercept_

24823.52310660579

In [31]:
model.coef_

array([3077.8642085 ,  999.7856246 , 2118.48834717])