In [34]:
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
import pandas as pd 
import numpy as np
from sklearn.linear_model import LinearRegression
from seaborn import heatmap
from sklearn.metrics import confusion_matrix

In [2]:
dataset = pd.read_csv(".\dataset\homeprices.csv")
dataset.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [12]:
converted_arr = pd.get_dummies(dataset.town,dtype=int)

In [14]:
merged = pd.concat([converted_arr,dataset],axis="columns")
merged

    monroe township  robinsville  west windsor             town  area   price
0                 1            0             0  monroe township  2600  550000
1                 1            0             0  monroe township  3000  565000
2                 1            0             0  monroe township  3200  610000
3                 1            0             0  monroe township  3600  680000
4                 1            0             0  monroe township  4000  725000
5                 0            0             1     west windsor  2600  585000
6                 0            0             1     west windsor  2800  615000
7                 0            0             1     west windsor  3300  650000
8                 0            0             1     west windsor  3600  710000
9                 0            1             0      robinsville  2600  575000
10                0            1             0      robinsville  2900  600000
11                0            1             0      robinsville  3100  620000
12                0            1             0      robinsville  3600  695000

In [16]:
final = merged.drop(["town"],axis="columns")
final

    monroe township  robinsville  west windsor  area   price
0                 1            0             0  2600  550000
1                 1            0             0  3000  565000
2                 1            0             0  3200  610000
3                 1            0             0  3600  680000
4                 1            0             0  4000  725000
5                 0            0             1  2600  585000
6                 0            0             1  2800  615000
7                 0            0             1  3300  650000
8                 0            0             1  3600  710000
9                 0            1             0  2600  575000
10                0            1             0  2900  600000
11                0            1             0  3100  620000
12                0            1             0  3600  695000

In [22]:
X = final[["monroe township","robinsville","west windsor","area"]]
X.head()

   monroe township  robinsville  west windsor  area
0                1            0             0  2600
1                1            0             0  3000
2                1            0             0  3200
3                1            0             0  3600
4                1            0             0  4000

In [23]:
y = final["price"]
y.head()

0    550000
1    565000
2    610000
3    680000
4    725000
Name: price, dtype: int64

In [24]:
x_train , x_test , y_train , y_test = train_test_split(X,y,test_size=0.20,random_state=34)

In [25]:
len(x_train),len(x_test)

(10, 3)

In [26]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [27]:
y_predicted = model.predict(x_test)
y_predicted

array([533310.58020475, 694692.83276453, 708646.18885099])

In [31]:
model.score(x_test,y_test)

0.9820407328000179

## label encoding

In [42]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder().fit_transform(dataset.town)

array([0, 0, 0, 0, 0, 2, 2, 2, 2, 1, 1, 1, 1])

## one Hot Encoding

In [46]:
from sklearn.preprocessing import OneHotEncoder
dataset = OneHotEncoder().fit_transform(dataset,[0])

In [47]:
dataset.data

<13x25 sparse matrix of type '<class 'numpy.float64'>'
	with 39 stored elements in Compressed Sparse Row format>